.section {
  margin: 40px auto;
  flex-flow: column;
  align-items: center;
}

span.encontrado {
  background-color: #01cbbe;
  color: #ffffff;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 20px auto;
  color: #ffffff;
}

.enlace {
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
